body{
	background-image: url("robotbg2.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	background-color: #D90368;
	padding:22px;
	text-align:center;
	color:white;
	border-radius: 10px;
}
.content {
	padding:18px;
	border-radius:8px;
	background-color:#B4A0E5;
	opacity: 0.9;
}

.footer {
	text-align:center;
}

#logo {
	width: 7%;
}

#video {
	background-color:white;
	border-radius:5px;
	padding:5px;
}

#navbar {
	padding:5px;
}

li {
	margin-right: 10px;
}
